* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

canvas {
  display: block;
  background-size: cover;
  background-position: center center;
}

img {
  display: block;
  max-width: 100%;
}

.canvas-controls {
  padding: 10px 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 4px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.control-item {
  padding: 8px;
  transition: background-color 300ms ease;
}

.control-item:hover,
.control-item.active {
  background-color: #efeeee;
}

.control-item img {
  width: 30px;
  height: 30px;
}

.cursor-circle {
  cursor: url("images/circle-arrow.svg"), auto;
}

/* .cursor-rectangle {
  cursor: url("images/rectangle.svg"), auto;
} */

.cursor-line {
  cursor: url("images/pen.svg"), auto;
}
